snippet thof "theme context" b
Theme.of(context).${0:_}
endsnippet

snippet tsc "TextStyle" b
style: TextStyle(color: Theme.of(context).textTheme.${0:bodyText1}.color),
endsnippet

snippet pob "Padding only bottom" b
Padding(padding: EdgeInsets.only(bottom:_height*${0:7}), child: 
endsnippet
